<div id="app">
    <form>
      <p>Add item</p>
      <p>Item name: <input type="text" required v-model="itemName"></p>
      <p>How many: <input type="number" v-model="itemNumber"></p>
      <button type="submit">Add item</button>
    </form>
  </div>
  
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          itemName: null,
          itemNumber: null,
          shoppingList: [
            { name: 'Tomatoes', number: 5 }
          ]
        }
      }
    })
    app.mount('#app')
  </script>